venv
.env
**/__pycache__
/src/utils/__pycache__
/src/commands/__pycache__
*.pyc
*.db
src/utils/__pycache__/db.cpython-312.pyc
src/commands/__pycache__/news_manager.cpython-312.pyc
src/commands/__pycache__/reporter_manager.cpython-312.pyc
